.SiteHeader {
  position: fixed;
  height: 60px;
  padding: 16px;
  box-sizing: border-box;
}

.Talks {
  padding-top: 64px;
}

.Talk {
  display: flex;
  padding: 8px 16px;

  &.isActive {
    background: #dff1ff;
  }

  & .Speaker {
    flex: 40px 0 0;
    margin-right: 8px;
  }

  & .Items {
    & .TalkItem {
      margin: 0 0.5em 0 0;
      cursor: pointer;

      &.isActive {
        background: #f3d9d7;
      }
    }
  }
}
